//- includes/_contact.pug
include ../mixins/_mixins

+panelHead()
  | CONTACT ME
  br
  | Via These
.list-box
  +showSquare()
    h3
      a(href="!#") Facebook
  +showSquare()
    h3
      a(href="!#") Twitter
  +showSquare()
    h3
      a(href="!#") GitHub
  +showSquare()
    h3
      a(href="!#") Pinterest
