//- includes/_systems.pug
include ../mixins/_mixins

+panelHead()
  | I Work With These Systems
.list-box
  +showSquare()
    h3 This CMS
    ul
      li More info here
  +showSquare()
    h3 That Engine
    ul
      li More info here
  +showSquare()
    h3 This System
    ul
      li More info here
  +showSquare()
    h3 That System
    ul
      li More info here
