//- includes/_tools.pug
include ../mixins/_mixins

+panelHead()
  | I work with these tools
.list-box
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
  +showSquare()
    h3 Tool Name
