//- includes/_types.pug
include ../mixins/_mixins

+panelHead()
  | I create these types of projects
.list-box
  +showSquare()
    h3 Project Type
    ul
      li More info
  +showSquare()
    h3 Project Type
    ul
      li More info
  +showSquare()
    h3 Project Type
    ul
      li More info
  +showSquare()
    h3 Project Type
    ul
      li More info
