//- index.pug
extends layout/_layout

block title
  | Demos - Static Site build with Gulp

block content
  .pane.hello#section01
    .wrapper
      include includes/_hello
      a.next.wow.bounceInUp(href="#section02" data-wow-delay="3s") NEXT
  .pane.skills#section02
    .wrapper
      a.prev(href="#section01") PREV
      include includes/_skills
      a.next.wow.bounceInUp(href="#section03" data-wow-delay=(delay -= stagger) + "s") NEXT
  .pane.systems#section03
    .wrapper
      a.prev(href="#section02") PREV
      include includes/_systems
      a.next.wow.bounceInUp(href="#section04" data-wow-delay=(delay -= stagger) + "s") NEXT
  .pane.types#section04
    .wrapper
      a.prev(href="#section03") PREV
      include includes/_types
      a.next.wow.bounceInUp(href="#section05" data-wow-delay=(delay -= stagger) + "s") NEXT
  .pane.tools#section05
    .wrapper
      a.prev(href="#section04") PREV
      include includes/_tools
      a.next.wow.bounceInUp(href="#section06" data-wow-delay=(delay -= stagger) + "s") NEXT
  .pane.contact#section06
    .wrapper
      a.prev(href="#section05") PREV
      include includes/_contact
