//
// Buttons
// =============================================================================

.prev,
.next {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 80 * $rems;
  margin-left: -40 * $rems;
  background-color: $color_shadow;
  font-size: $type_wrapper_font_size;
  @include raised();
}

.prev {
  top: 0;
  padding-top: 20 * $rems;
  padding-bottom: 8 * $rems;

  &::before {
    position: absolute;
    bottom: 28 * $rems;
    border-right: 20 * $rems solid transparent;
    border-bottom: 20 * $rems solid $color_link_default;
    border-left: 20 * $rems solid transparent;
    content: " ";
  }
}

.next {
  bottom: 0;
  padding-top: 8 * $rems;
  padding-bottom: 20 * $rems;

  &::before {
    position: absolute;
    top: 28 * $rems;
    border-top: 20 * $rems solid $color_link_default;
    border-right: 20 * $rems solid transparent;
    border-left: 20 * $rems solid transparent;
    content: " ";
  }
}
