//
// Content
// =============================================================================

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.pane {
  position: relative;
  width: 100%;
  padding: 20 * $rems;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  min-height: calc(100vh - 2.5rem);
  padding: 80 * $rems 0;
  margin: 0 auto;
  border: 10 * $rems solid $color_shadow;
  background-color: $bg_color_wrapper;
  text-align: center;
  box-shadow: 4 * $rems 4 * $rems 5 * $rems rgba(0, 0, 0, .5);

  h1 {
    margin-top: 0;
    font-family: $type_regular_font_family;
  }

  .hello & {
    h1 {
      margin-bottom: .7em;
      background-color: $color_shadow;
      color: $color_highlight;
      font-family: $type_h_font_family;
      font-size: 128 * $rems;
      line-height: .7;
      text-shadow: 12 * $rems 12 * $rems 0 $color_shadow, -3 * $rems -3 * $rems 0 $color_shadow, 3 * $rems -3 * $rems 0 $color_shadow, -3 * $rems 3 * $rems 0 $color_shadow, 3 * $rems 3 * $rems 0 $color_shadow;
    }

    h3,
    h4 {
      margin: 24 * $rems 0;
      font-family: $type_regular_font_family;
    }

    h3 {
      font-size: 48 * $rems;
    }

    h4 {
      font-size: 42 * $rems;
    }
  }

  .tools & {
    .list-item {
      height: 140 * $rems;
    }
  }

  .contact & {
    .list-item {
      height: 140 * $rems;
      a {
        color: #000;
      }
    }
  }
}

.list-box {
  $skew: 1.5deg;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: -.25rem .25rem;

  & > * {
    flex: 0 1 100%;
  }

  .list-item {
    padding: 40 * $rems 30 * $rems;
    margin: .25rem;
    border: 8 * $rems solid #000;
    background-color: $color_link_default;
    @include raised();
    transform: skewY($skew * -1);

    h3 {
      margin: 0;
      transform: skewY($skew);
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        transform: skewY($skew);
      }
    }
  }
}

