//
// Mixins
// =============================================================================

@mixin h_tags($factor: 1) {
  h1, h2, h3, h4, h5, h6 { // stylelint-disable-line
    font-family: $type_h_font_family;
    line-height: $type_h_font_lineheight;
    font-weight: 400;
  }
  @each $h_lvl, $value in $type_h_font_sizes {
    #{$h_lvl} {
      $size: if(($value * $factor) < 1, 1, $value * $factor);
      $vmargins: (map-get($type_h_font_vmargins, $h_lvl)) * 1rem;
      margin: $vmargins 0;
      font-size: $size * 1rem;
    }
  }
}

@mixin raised() {
  box-shadow: 1 * $rems 1 * $rems 3 * $rems rgba(0, 0, 0, .5);
}
