//
// Variables
// =============================================================================

$base_font_size: 16;

$ems: ($base_font_size / 16) * 1em; // => 1 * 1em = 1em
$rems: (1 / $base_font_size) * 1rem; // => 0.0625 * 1rem = 0.0625rem

$base_font_size_ems: $ems;

$type_regular_font_family: "Indie Flower", cursive;
$type_h_font_family: Bangers, cursive; // stylelint-disable-line

$type_h_font_sizes: (
  h1: 2.5,
  h2: 2,
  h3: 1.75,
  h4: 1.5,
  h5: 1.25,
  h6: 1.125
);

$type_h_font_vmargins: (
  h1: 1,
  h2: 1,
  h3: 1.313,
  h4: 1.313,
  h5: 1.313,
  h6: 1.313
);

$type_h_font_lineheight: 1.313em;

$type_wrapper_font_size: 18 * $rems;

$layout_site_width: 1100;
$layout_site_4k_width: 1800;

$bg_color_site: lighten(#000, 10%);
$bg_color_wrapper: #fff;

$color_text_default: #000;
$color_link_default: #c00;
$color_link_hover: saturate($color_link_default, 70%);

$color_highlight: #ffc600;
$color_shadow: #000;
